USE [BDREP_GTH]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USUARIOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USUARIOS](
	[USUARIO_ID] [uniqueidentifier] NOT NULL,
	[PERSONAL_ID] [uniqueidentifier] NULL,
	[PERFIL_ID] [int] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[USUARIOS] ([USUARIO_ID], [PERSONAL_ID], [PERFIL_ID]) VALUES (N'74472116-222a-49ac-8643-db6c00f152b2', N'6f3c485b-d152-495b-904f-232e68e67146', 1)
/****** Object:  Table [dbo].[COMPETENCIAS_TRANSVERSALES]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS_TRANSVERSALES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPETENCIAS_TRANSVERSALES](
	[COMPETENCIA_TRANSVERSAL_ID] [uniqueidentifier] NOT NULL,
	[COMPETENCIA_TRANSVERSAL_CODIGO] [varchar](50) NULL,
	[COMPETENCIA_TRANSVERSAL_DESCRIPCION] [varchar](100) NULL,
	[COMPETENCIA_TRANSVERSAL_ESTADO] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_COMPETENCIAS_TRANSVERSALES] PRIMARY KEY CLUSTERED 
(
	[COMPETENCIA_TRANSVERSAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_COMPENTENCIAS_TRANSVERSALES_COMPETENCIA_TRANSVERSAL_ID] UNIQUE NONCLUSTERED 
(
	[COMPETENCIA_TRANSVERSAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'COMPETENCIA_TRANSVERSAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TRANSVERSAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'COMPETENCIA_TRANSVERSAL_CODIGO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de usuario asignado a la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TRANSVERSAL_CODIGO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'COMPETENCIA_TRANSVERSAL_DESCRIPCION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion de la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TRANSVERSAL_DESCRIPCION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'COMPETENCIA_TRANSVERSAL_ESTADO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado de la competencia transversal. Activa - 1, Inactiva - 0.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TRANSVERSAL_ESTADO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que registra la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion de la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que actualizo por ultima vez la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ultima actualizacion de la competencia transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TRANSVERSALES', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara la definicion de las competencias transversales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TRANSVERSALES'
GO
/****** Object:  Table [dbo].[COMPETENCIAS_TIPOS]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS_TIPOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPETENCIAS_TIPOS](
	[COMPETENCIA_TIPO_ID] [uniqueidentifier] NOT NULL,
	[COMPETENCIA_TIPO_CODIGO] [varchar](50) NULL,
	[COMPETENCIA_TIPO_DESCRIPCION] [varchar](100) NULL,
	[USUARIOS_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
	[COMPETENCIA_TIPO_ESTADO] [int] NULL,
 CONSTRAINT [PK_COMPETENCIAS_TIPOS] PRIMARY KEY CLUSTERED 
(
	[COMPETENCIA_TIPO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID] UNIQUE NONCLUSTERED 
(
	[COMPETENCIA_TIPO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'COMPETENCIA_TIPO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TIPO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'COMPETENCIA_TIPO_CODIGO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del tipo de competencia definido por los usuarios.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TIPO_CODIGO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'COMPETENCIA_TIPO_DESCRIPCION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del tipo de competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TIPO_DESCRIPCION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'USUARIOS_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que creo el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'USUARIOS_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que actualizo por ultima vez el tipo de competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ultima fecha de actualizacion del tipo de competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_TIPOS', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara los tipos de competencias.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_TIPOS'
GO
INSERT [dbo].[COMPETENCIAS_TIPOS] ([COMPETENCIA_TIPO_ID], [COMPETENCIA_TIPO_CODIGO], [COMPETENCIA_TIPO_DESCRIPCION], [USUARIOS_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION], [COMPETENCIA_TIPO_ESTADO]) VALUES (N'fbd1309e-22f7-44c6-b1dd-51f8d1445b4a', N'HE', N'Herramientas', N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435D8 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435D8 AS DateTime), 1)
INSERT [dbo].[COMPETENCIAS_TIPOS] ([COMPETENCIA_TIPO_ID], [COMPETENCIA_TIPO_CODIGO], [COMPETENCIA_TIPO_DESCRIPCION], [USUARIOS_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION], [COMPETENCIA_TIPO_ESTADO]) VALUES (N'e072f841-fe42-4b0d-8e3b-6ad03abe3629', N'CH', N'Habilidades', N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435D8 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435D8 AS DateTime), 1)
INSERT [dbo].[COMPETENCIAS_TIPOS] ([COMPETENCIA_TIPO_ID], [COMPETENCIA_TIPO_CODIGO], [COMPETENCIA_TIPO_DESCRIPCION], [USUARIOS_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION], [COMPETENCIA_TIPO_ESTADO]) VALUES (N'3e8b3114-490c-423d-884b-f80f9fc0bef2', N'CT', N'Técnicas', N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435CF AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200D435CF AS DateTime), 1)
/****** Object:  Table [dbo].[PERFILES]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PERFILES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PERFILES](
	[PERFIL_ID] [int] NOT NULL,
	[PERFIL_DESCRIPCION] [varchar](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PERFILES] ([PERFIL_ID], [PERFIL_DESCRIPCION]) VALUES (1, N'Administrador')
INSERT [dbo].[PERFILES] ([PERFIL_ID], [PERFIL_DESCRIPCION]) VALUES (2, N'Usuario')
/****** Object:  Table [dbo].[PARAMETROS_SISTEMA]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARAMETROS_SISTEMA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PARAMETROS_SISTEMA](
	[PARAMETRO_ID] [uniqueidentifier] NOT NULL,
	[PARAMETRO_DESCRIPCION] [varchar](50) NULL,
	[PARAMETRO_VALOR] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_PARAMETROS_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[PARAMETRO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_PARAMETROS_SISTEMA_PARAMETRO_ID] UNIQUE NONCLUSTERED 
(
	[PARAMETRO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'PARAMETRO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'PARAMETRO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'PARAMETRO_DESCRIPCION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion del parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'PARAMETRO_DESCRIPCION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'PARAMETRO_VALOR'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' Valor del parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'PARAMETRO_VALOR'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que registro el parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion del parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que actualizo por ultima vez el parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ultima actualizacion del parametro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'PARAMETROS_SISTEMA', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenará los parámetros del sistema.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PARAMETROS_SISTEMA'
GO
/****** Object:  Table [dbo].[COMPETENCIAS]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPETENCIAS](
	[COMPETENCIA_ID] [uniqueidentifier] NOT NULL,
	[COMPETENCIA_CODIGO] [varchar](50) NULL,
	[COMPETENCIA_DESCRIPCION] [varchar](100) NULL,
	[COMPETENCIA_TIPO_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_ESTADO] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_COMPETENCIAS] PRIMARY KEY CLUSTERED 
(
	[COMPETENCIA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_COMPETENCIAS_COMPETENCIAS_ID] UNIQUE NONCLUSTERED 
(
	[COMPETENCIA_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'COMPETENCIA_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro de competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'COMPETENCIA_CODIGO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de usuario de la competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_CODIGO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'COMPETENCIA_DESCRIPCION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripcion de la competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_DESCRIPCION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'COMPETENCIA_TIPO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador el tipo de competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TIPO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador el usuario que creo el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del ultimo usuario que actualizo el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ultima actualizacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara el catalogo de competencias.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS'
GO
INSERT [dbo].[COMPETENCIAS] ([COMPETENCIA_ID], [COMPETENCIA_CODIGO], [COMPETENCIA_DESCRIPCION], [COMPETENCIA_TIPO_ID], [COMPETENCIA_ESTADO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'2f41daad-2a68-4655-ae00-030e96f89734', N'24', N'Redes Colaborativas', N'e072f841-fe42-4b0d-8e3b-6ad03abe3629', 1, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38EE AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38EE AS DateTime))
INSERT [dbo].[COMPETENCIAS] ([COMPETENCIA_ID], [COMPETENCIA_CODIGO], [COMPETENCIA_DESCRIPCION], [COMPETENCIA_TIPO_ID], [COMPETENCIA_ESTADO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'e5a7c898-aeef-46d1-8eae-170874c85a7f', N'27', N'Visión estratégica', N'e072f841-fe42-4b0d-8e3b-6ad03abe3629', 1, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38EF AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38EF AS DateTime))
INSERT [dbo].[COMPETENCIAS] ([COMPETENCIA_ID], [COMPETENCIA_CODIGO], [COMPETENCIA_DESCRIPCION], [COMPETENCIA_TIPO_ID], [COMPETENCIA_ESTADO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'e30e88f8-4a1c-4412-acf3-1d776609657b', N'6', N'Estrategia de compras', N'3e8b3114-490c-423d-884b-f80f9fc0bef2', 1, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38ED AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F200DC38ED AS DateTime))
/****** Object:  Table [dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES](
	[EVALUACION_COMPETENCIA_TRANSVERSAL_ID] [uniqueidentifier] NOT NULL,
	[PERSONAL_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_TRANSVERSAL_ID] [uniqueidentifier] NULL,
	[EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE] [decimal](10, 2) NULL,
	[PUESTO_ID] [uniqueidentifier] NULL,
	[EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES] PRIMARY KEY CLUSTERED 
(
	[EVALUACION_COMPETENCIA_TRANSVERSAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIA_TRANSVERSAL_ID] UNIQUE NONCLUSTERED 
(
	[EVALUACION_COMPETENCIA_TRANSVERSAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'EVALUACION_COMPETENCIA_TRANSVERSAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_TRANSVERSAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'PERSONAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del personal evaluado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'PERSONAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'COMPETENCIA_TRANSVERSAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la competencia transversal evaluado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_TRANSVERSAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Porcentaje otorgado en la evaluacion del colaborador.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'PUESTO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del puesto evaluado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'PUESTO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Año de evaluacion del colaborador.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que registro la evaluacion transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion de la evaluacion transversal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que actualizo por ultima vez el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fec' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara las evaluaciones de competencias transversales y de liderazgo de los colaboradores.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_TRANSVERSALES'
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO_SELECCIONAR_POR_PERSONAL_ID]    Script Date: 04/30/2016 10:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_USUARIO_SELECCIONAR_POR_PERSONAL_ID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create procedure [dbo].[USP_USUARIO_SELECCIONAR_POR_PERSONAL_ID]    
/****************************************************************     
* Nombre SP: USP_USUARIO_SELECCIONAR_POR_PERSONAL_ID    
* Propósito: devolver los datos de un usuario por personal id    
* Input:    
* @PERSONAL_ID      
* Output: Una tupla de la tabla de gerencia     
* Creado por: Silvia Benites   
* Fecha. Creación: 05/04/2015    
* Fecha. Actualización: Fecha de Actualización    
****************************************************************/    
@PERSONAL_ID uniqueidentifier    
AS    
Select     
  USUARIO_ID,    
  PERSONAL_ID,   
  PERFIL_ID
from     
  USUARIOS    
where PERSONAL_ID=@PERSONAL_ID  ' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_COMPETENCIA_TIPO_SELECCIONAR]    Script Date: 04/30/2016 10:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_COMPETENCIA_TIPO_SELECCIONAR]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'Create procedure [dbo].[USP_COMPETENCIA_TIPO_SELECCIONAR]
/**************************************************************** 
* Nombre SP: USP_COMPETENCIAS_TIPOS
* Propósito: Devuelve todas las competencias por tipos.
* Input:
* Output: Lista de todas las competencias por tipo
* Creado por: Miguel Vasquez
* Fecha. Creación: 27/04/2016
* Fecha. Actualización: Fecha de Actualización
****************************************************************/
as
Select 
		COMPETENCIA_TIPO_ID,
		COMPETENCIA_TIPO_CODIGO,
		COMPETENCIA_TIPO_DESCRIPCION,
		USUARIOS_CREACION,
		FECHA_CREACION,
		USUARIO_ACTUALIZACION,
		FECHA_ACTUALIZACION,
		COMPETENCIA_TIPO_ESTADO
from 
		COMPETENCIAS_TIPOS
		
where COMPETENCIA_TIPO_ESTADO=1
' 
END
GO
/****** Object:  Table [dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL](
	[EVALUACION_COMPETENCIA_PERSONAL_ID] [uniqueidentifier] NOT NULL,
	[PERSONAL_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_ID] [uniqueidentifier] NULL,
	[EVALUACION_COMPETENCIA_BRECHA] [int] NULL,
 CONSTRAINT [PK_EVALUACIONES_COMPETENCIAS_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[EVALUACION_COMPETENCIA_PERSONAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_PERSONAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_PERSONAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PERSONAL', N'COLUMN',N'PERSONAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del personal evaluado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PERSONAL', @level2type=N'COLUMN',@level2name=N'PERSONAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PERSONAL', N'COLUMN',N'COMPETENCIA_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la competencia evaluada.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PERSONAL', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_BRECHA'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Brecha obtenida de la evaluacion. Si es cero se considera competencia desarrollada, en caso contrario es competencia por desarrollar.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_BRECHA'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PERSONAL', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara las evaluaciones de las competencias por personal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PERSONAL'
GO
/****** Object:  Table [dbo].[COMPETENCIAS_PUESTOS]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS_PUESTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPETENCIAS_PUESTOS](
	[COMPETENCIA_PUESTO_ID] [uniqueidentifier] NOT NULL,
	[PUESTO_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_PUESTO_VALOR_REQUERIDO] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_COMPETENCIAS_PUESTOS] PRIMARY KEY CLUSTERED 
(
	[COMPETENCIA_PUESTO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'COMPETENCIA_PUESTO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del Registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_PUESTO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'PUESTO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del puesto asociado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'PUESTO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'COMPETENCIA_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la competencia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'COMPETENCIA_PUESTO_VALOR_REQUERIDO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor requerido a la competencia para ese puesto.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_PUESTO_VALOR_REQUERIDO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que crea el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del ultimo usuario en actualizar el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ultima actualizacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'COMPETENCIAS_PUESTOS', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara la matriz de competencias por cada puesto.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'COMPETENCIAS_PUESTOS'
GO
INSERT [dbo].[COMPETENCIAS_PUESTOS] ([COMPETENCIA_PUESTO_ID], [PUESTO_ID], [COMPETENCIA_ID], [COMPETENCIA_PUESTO_VALOR_REQUERIDO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'ca193c73-3c7f-4a3e-bce3-272b903e331b', N'06762b1d-4c71-4a85-8461-1afdf176a31f', N'2f41daad-2a68-4655-ae00-030e96f89734', 2, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime))
INSERT [dbo].[COMPETENCIAS_PUESTOS] ([COMPETENCIA_PUESTO_ID], [PUESTO_ID], [COMPETENCIA_ID], [COMPETENCIA_PUESTO_VALOR_REQUERIDO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'b3ef3e02-fdba-4071-b383-3b642cae43a1', N'06762b1d-4c71-4a85-8461-1afdf176a31f', N'507b3de5-5e1f-4754-b273-d96cb424e923', 2, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime))
INSERT [dbo].[COMPETENCIAS_PUESTOS] ([COMPETENCIA_PUESTO_ID], [PUESTO_ID], [COMPETENCIA_ID], [COMPETENCIA_PUESTO_VALOR_REQUERIDO], [USUARIO_CREACION], [FECHA_CREACION], [USUARIO_ACTUALIZACION], [FECHA_ACTUALIZACION]) VALUES (N'4d8f4d4c-8302-46a7-ac5b-433b6ff3eed1', N'06762b1d-4c71-4a85-8461-1afdf176a31f', N'2b3d61b6-017c-4fec-aa45-beac41fe7282', 3, N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(0x0000A5F3009FC729 AS DateTime))
/****** Object:  Table [dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL]    Script Date: 04/30/2016 10:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL](
	[EVALUACION_COMPETENCIA_PUESTO_PERSONAL_ID] [uniqueidentifier] NOT NULL,
	[PERSONAL_ID] [uniqueidentifier] NULL,
	[PUESTO_ID] [uniqueidentifier] NULL,
	[COMPETENCIA_ID] [uniqueidentifier] NULL,
	[EVALUACION_COMPETENCIA_VALOR_REAL] [int] NULL,
	[EVALUACION_COMPETENCIA_COMENTARIO] [text] NULL,
	[EVALUACION_COMPETENCIA_BRECHA] [int] NULL,
	[EVALUACION_COMPETENCIA_ESTADO] [int] NULL,
	[EVALUACION_COMPETENCIA_ANIO] [int] NULL,
	[USUARIO_CREACION] [uniqueidentifier] NULL,
	[FECHA_CREACION] [datetime] NULL,
	[USUARIO_ACTUALIZACION] [uniqueidentifier] NULL,
	[FECHA_ACTUALIZACION] [datetime] NULL,
 CONSTRAINT [PK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL] PRIMARY KEY CLUSTERED 
(
	[EVALUACION_COMPETENCIA_PUESTO_PERSONAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_PUESTO_PERSONAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_PUESTO_PERSONAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'PERSONAL_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del colaborador al que se esta evaluando.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'PERSONAL_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'PUESTO_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del puesto al que pertenece el colaboarador que esta siendo evaluado.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'PUESTO_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'COMPETENCIA_ID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador de la competencia evaluada.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'COMPETENCIA_ID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_VALOR_REAL'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Calificacion real obtenido en la evaluacion .' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_VALOR_REAL'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_COMENTARIO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Comentario detallado durante la evaluacion.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_COMENTARIO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_BRECHA'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor Real menos Valor Requerido.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_BRECHA'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_ESTADO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Estado de la evaluacion. 0 - En Evaluacion, 1 - Evaluacion Final.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_ESTADO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'EVALUACION_COMPETENCIA_ANIO'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Año en que se esta realizando la evaluacion.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'EVALUACION_COMPETENCIA_ANIO'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'USUARIO_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del usuario que registro la evaluacion.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'USUARIO_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'FECHA_CREACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creacion de la evaluacion.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'FECHA_CREACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'USUARIO_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del ultimo usuario que actualizo el registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'USUARIO_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', N'COLUMN',N'FECHA_ACTUALIZACION'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de ultima actualizacion del registro.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', @level2type=N'COLUMN',@level2name=N'FECHA_ACTUALIZACION'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenará los resultados de las evaluaciones de las competencias por puesto y colaborador.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL'
GO
/****** Object:  StoredProcedure [dbo].[USP_COMPETENCIA_PUESTO_SELECCIONAR_POR_PUESTO_Y_TIPO]    Script Date: 04/30/2016 10:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_COMPETENCIA_PUESTO_SELECCIONAR_POR_PUESTO_Y_TIPO]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[USP_COMPETENCIA_PUESTO_SELECCIONAR_POR_PUESTO_Y_TIPO]        
/****************************************************************         
* Nombre SP: USP_COMPETENCIAS_POR_PUESTOS       
* Propósito: Devolver la lista de competencias por puesto       
* Input: @PUESTO_ID,@COMPETENCIA_TIPO_ID        
* Output: Tabla de competencias      
* Creado por: Miguel Vasquez        
* Fecha. Creación: 27/04/2016       

****************************************************************/        
@PUESTO_ID uniqueidentifier, 
@COMPETENCIA_TIPO_ID uniqueidentifier       
as        
select C.COMPETENCIA_ID, C.COMPETENCIA_DESCRIPCION, CP.COMPETENCIA_PUESTO_VALOR_REQUERIDO  
from COMPETENCIAS_PUESTOS CP inner join COMPETENCIAS C ON
CP.COMPETENCIA_ID = C.COMPETENCIA_ID
where CP.PUESTO_ID =@PUESTO_ID
and C.COMPETENCIA_TIPO_ID =@COMPETENCIA_TIPO_ID' 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_SELECCIONAR_ESTADO_POR_PERSONAL_ID]    Script Date: 04/30/2016 10:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_SELECCIONAR_ESTADO_POR_PERSONAL_ID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[USP_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_SELECCIONAR_ESTADO_POR_PERSONAL_ID]    
/****************************************************************     
* Nombre SP: USP_SELECCIONAR_EVALUACIONES_ESTADO_POR_PERSONAL_ID    
* Propósito: devolver el estado de evaluaciones por personal id    
* Input:    
* @PERSONAL_ID           
* Creado por: Miguel Vasquez   
* Fecha. Creación: 19/04/2015    
* Fecha. Actualización: Fecha de Actualización    
****************************************************************/    
@PERSONAL_ID uniqueidentifier    
AS    
Select     
  ISNULL(EVALUACION_COMPETENCIA_ESTADO, 0) AS EVALUACION_COMPETENCIA_ESTADO
from     
  EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL    
where PERSONAL_ID=@PERSONAL_ID  
' 
END
GO
/****** Object:  ForeignKey [FK_COMPETENCIAS_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID]    Script Date: 04/30/2016 10:08:24 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COMPETENCIAS_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS]'))
ALTER TABLE [dbo].[COMPETENCIAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIAS_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID] FOREIGN KEY([COMPETENCIA_TIPO_ID])
REFERENCES [dbo].[COMPETENCIAS_TIPOS] ([COMPETENCIA_TIPO_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COMPETENCIAS_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS]'))
ALTER TABLE [dbo].[COMPETENCIAS] CHECK CONSTRAINT [FK_COMPETENCIAS_COMPETENCIAS_TIPOS_COMPETENCIA_TIPO_ID]
GO
/****** Object:  ForeignKey [FK_COMPETENCIAS_PUESTOS_COMPETENCIAS_COMPETENCIA_ID]    Script Date: 04/30/2016 10:08:24 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COMPETENCIAS_PUESTOS_COMPETENCIAS_COMPETENCIA_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS_PUESTOS]'))
ALTER TABLE [dbo].[COMPETENCIAS_PUESTOS]  WITH CHECK ADD  CONSTRAINT [FK_COMPETENCIAS_PUESTOS_COMPETENCIAS_COMPETENCIA_ID] FOREIGN KEY([COMPETENCIA_ID])
REFERENCES [dbo].[COMPETENCIAS] ([COMPETENCIA_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COMPETENCIAS_PUESTOS_COMPETENCIAS_COMPETENCIA_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMPETENCIAS_PUESTOS]'))
ALTER TABLE [dbo].[COMPETENCIAS_PUESTOS] CHECK CONSTRAINT [FK_COMPETENCIAS_PUESTOS_COMPETENCIAS_COMPETENCIA_ID]
GO
/****** Object:  ForeignKey [FK_EVALUACIONES_COMPETENCIAS_PERSONAL_COMPETENCIAS_COMPETENCIA_ID]    Script Date: 04/30/2016 10:08:24 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_PERSONAL_COMPETENCIAS_COMPETENCIA_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_PERSONAL_COMPETENCIAS_COMPETENCIA_ID] FOREIGN KEY([COMPETENCIA_ID])
REFERENCES [dbo].[COMPETENCIAS] ([COMPETENCIA_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_PERSONAL_COMPETENCIAS_COMPETENCIA_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PERSONAL] CHECK CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_PERSONAL_COMPETENCIAS_COMPETENCIA_ID]
GO
/****** Object:  ForeignKey [FK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_PUESTO_ID]    Script Date: 04/30/2016 10:08:24 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_PUESTO_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL]  WITH CHECK ADD  CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_PUESTO_ID] FOREIGN KEY([PUESTO_ID])
REFERENCES [dbo].[COMPETENCIAS_PUESTOS] ([COMPETENCIA_PUESTO_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_PUESTO_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL] CHECK CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL_PUESTO_ID]
GO
/****** Object:  ForeignKey [FK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIAS_TRANSVERSALES_ID]    Script Date: 04/30/2016 10:08:24 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIAS_TRANSVERSALES_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES]  WITH CHECK ADD  CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIAS_TRANSVERSALES_ID] FOREIGN KEY([COMPETENCIA_TRANSVERSAL_ID])
REFERENCES [dbo].[COMPETENCIAS_TRANSVERSALES] ([COMPETENCIA_TRANSVERSAL_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIAS_TRANSVERSALES_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES]'))
ALTER TABLE [dbo].[EVALUACIONES_COMPETENCIAS_TRANSVERSALES] CHECK CONSTRAINT [FK_EVALUACIONES_COMPETENCIAS_TRANSVERSALES_COMPETENCIAS_TRANSVERSALES_ID]
GO
