USE [BDREP_GTH]
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_ANO_SELECCIONAR]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_RS_ANO_SELECCIONAR]
AS
Select year(GETDATE()) AS ANO
union all
Select year(GETDATE())-1
union all
Select year(GETDATE())-2
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_EMPRESA_SELECCIONAR]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_EMPRESA_SELECCIONAR]  
/****************************************************************   
* Nombre SP: USP_RS_EMPRESA_SELECCIONAR  
* Propósito: devolver la lista de datos de todas las EMPRESAS  
* Input: Ninguno  
* Output: Tabla con la lista de todas las EMPRESAS  
* Creado por: Silvia Benites  
* Actualizado por: 
* Fecha. Creación: 05/04/15
* Fecha. Actualización: Fecha de Actualización  
****************************************************************/  
AS  
Select   
  E.EMPRESA_ID,  
  E.EMPRESA_DESCRIPCION
  
from   
  BDREP_ESTRUCTURAS.DBO.EMPRESAS E 
  where E.EMPRESA_ESTADO=1
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_GERENCIA_SELECCIONAR_POR_EMPRESA]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_GERENCIA_SELECCIONAR_POR_EMPRESA]
/**************************************************************** 
* Nombre SP: USP_RS_GERENCIA_SELECCIONAR_POR_EMPRESA
* Propósito: devolver los datos de una GERENCIAS por EMPRESA
* Input: 
	
* Output: Una tupla de la tabla de gerencia 
* Creado por: Silvia Benites
* Fecha. Creación: 18/04/2015
* Fecha. Actualización: Fecha de Actualización
****************************************************************/
@EMPRESA_ID uniqueidentifier
AS
SELECT '00000000-0000-0000-0000-000000000000' AS GERENCIA_ID,
		'' AS GERENCIA_CODIGO,
		'TODAS' AS GERENCIA_DESCRIPCION
UNION
Select 
		GERENCIA_ID,
		ISNULL(GERENCIA_CODIGO, '') AS GERENCIA_CODIGO,
		GERENCIA_DESCRIPCION		
from 
		BDREP_ESTRUCTURAS.DBO.GERENCIAS
where	EMPRESA_ID=@EMPRESA_ID
AND GERENCIA_ESTADO = 1
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_PUESTO_SELECCIONAR]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_PUESTO_SELECCIONAR]
/**************************************************************** 
* Nombre SP: USP_RS_PUESTO_SELECCIONAR
* Propósito: devolver los datos de todos los puestos por EMPRESA, GERENCIA, AREA Y/O COORDINACION
* Input: 
	@EMPRESA_ID
	@GERENCIA_ID
	@AREA_ID
	@COORDINACION_ID
* Output: Una tupla de la tabla de puesto 
* Creado por: Silvia Benites
* Fecha. Creación: 17/04/2015
* Fecha. Actualización: Fecha de Actualización
****************************************************************/
@EMPRESA_ID uniqueidentifier,
@GERENCIA_ID uniqueidentifier,
@AREA_ID uniqueidentifier,
@COORDINACION_ID uniqueidentifier
AS
IF(@GERENCIA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
	Select 
			P.PUESTO_ID,
			ISNULL(P.PUESTO_CODIGO, '') AS PUESTO_CODIGO,
			P.PUESTO_DESCRIPCION,
			P.PUESTO_NIVEL,
			P.PUESTO_ESTADO,
			P.USUARIO_CREACION,
			P.FECHA_CREACION,
			P.USUARIO_ACTUALIZACION,
			P.FECHA_ACTUALIZACION,
			P.EMPRESA_ID		
	from 
			BDREP_ESTRUCTURAS.dbo.PUESTOS P		
	where	P.EMPRESA_ID=@EMPRESA_ID
	AND		P.PUESTO_ESTADO = 1
END
ELSE IF (@AREA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
	Select 
		P.PUESTO_ID,
		ISNULL(P.PUESTO_CODIGO, '') AS PUESTO_CODIGO,
		P.PUESTO_DESCRIPCION,
		P.PUESTO_NIVEL,
		P.PUESTO_ESTADO,
		P.USUARIO_CREACION,
		P.FECHA_CREACION,
		P.USUARIO_ACTUALIZACION,
		P.FECHA_ACTUALIZACION,
		P.EMPRESA_ID
	from 
		BDREP_ESTRUCTURAS.dbo.PERSONAL CP INNER JOIN BDREP_ESTRUCTURAS.dbo.PUESTOS P
		ON CP.PERSONAL_PUESTO = P.PUESTO_ID
	where	CP.PERSONAL_GERENCIA=@GERENCIA_ID
	AND P.PUESTO_ESTADO = 1
	GROUP BY P.PUESTO_ID, P.PUESTO_CODIGO, P.PUESTO_DESCRIPCION, P.PUESTO_NIVEL, P.PUESTO_ESTADO,
	P.USUARIO_CREACION, P.FECHA_CREACION, P.USUARIO_ACTUALIZACION, P.FECHA_ACTUALIZACION, P.EMPRESA_ID

END
ELSE IF (@COORDINACION_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
	Select 
		P.PUESTO_ID,
		ISNULL(P.PUESTO_CODIGO, '') AS PUESTO_CODIGO,
		P.PUESTO_DESCRIPCION,
		P.PUESTO_NIVEL,
		P.PUESTO_ESTADO,
		P.USUARIO_CREACION,
		P.FECHA_CREACION,
		P.USUARIO_ACTUALIZACION,
		P.FECHA_ACTUALIZACION,
		P.EMPRESA_ID
from 
		BDREP_ESTRUCTURAS.dbo.PERSONAL CP INNER JOIN BDREP_ESTRUCTURAS.dbo.PUESTOS P
		ON CP.PERSONAL_PUESTO = P.PUESTO_ID
where	CP.PERSONAL_AREA=@AREA_ID
AND P.PUESTO_ESTADO = 1
GROUP BY P.PUESTO_ID, P.PUESTO_CODIGO, P.PUESTO_DESCRIPCION, P.PUESTO_NIVEL, P.PUESTO_ESTADO,
P.USUARIO_CREACION, P.FECHA_CREACION, P.USUARIO_ACTUALIZACION, P.FECHA_ACTUALIZACION, P.EMPRESA_ID
END
ELSE
BEGIN
	Select 
		P.PUESTO_ID,
		ISNULL(P.PUESTO_CODIGO, '') AS PUESTO_CODIGO,
		P.PUESTO_DESCRIPCION,
		P.PUESTO_NIVEL,
		P.PUESTO_ESTADO,
		P.USUARIO_CREACION,
		P.FECHA_CREACION,
		P.USUARIO_ACTUALIZACION,
		P.FECHA_ACTUALIZACION,
		P.EMPRESA_ID
from 
		BDREP_ESTRUCTURAS.dbo.PERSONAL CP INNER JOIN BDREP_ESTRUCTURAS.dbo.PUESTOS P
		ON CP.PERSONAL_PUESTO = P.PUESTO_ID
where	CP.PERSONAL_COORDINACION=@COORDINACION_ID
AND P.PUESTO_ESTADO = 1
AND P.PUESTO_NIVEL = 4
GROUP BY P.PUESTO_ID, P.PUESTO_CODIGO, P.PUESTO_DESCRIPCION, P.PUESTO_NIVEL, P.PUESTO_ESTADO,
P.USUARIO_CREACION, P.FECHA_CREACION, P.USUARIO_ACTUALIZACION, P.FECHA_ACTUALIZACION, P.EMPRESA_ID

END
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_AREA_SELECCIONAR_POR_GERENCIA]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_AREA_SELECCIONAR_POR_GERENCIA]  
/****************************************************************   
* Nombre SP: USP_RS_AREA_SELECCIONAR_POR_GERENCIA  
* Propósito: devolver los datos de todas las áreas por gerencia  
* Input: @GERENCIA_ID  
* Output: Tabla con la lista de todas las areas  
* Creado por: Silvia Benites
* Fecha. Creación: 04/12/2015  
* Fecha. Actualización: 
****************************************************************/  
@GERENCIA_ID UNIQUEIDENTIFIER  
AS 
SELECT '00000000-0000-0000-0000-000000000000' AS AREA_ID,
		'' AS AREA_CODIGO,
		'TODAS' AS AREA_DESCRIPCION
UNION 
Select   
  AREA_ID,    
  AREA_CODIGO, 
  AREA_DESCRIPCION   
from   
  BDREP_ESTRUCTURAS.DBO.AREAS  
WHERE GERENCIA_ID=@GERENCIA_ID  
AND AREA_ESTADO = 1
ORDER BY AREA_DESCRIPCION
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_EVALUACION_COMPETENCIAS_TRANSVERSALES]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_EVALUACION_COMPETENCIAS_TRANSVERSALES]  
/****************************************************************   
* Nombre SP: USP_RS_EVALUACION_COMPETENCIAS_TRANSVERSALES  
* Propósito: devolver los datos de todas coordinaciones por área 
* Input: @PERIODO, @EMPRESA_ID, @GERENCIA_ID, @AREA_ID, @COORDINACION_ID
* Output: Datos de una coordinación  
* Creado por: Silvia Benites  
* Fecha. Creación: 10/04/2016 
* Fecha. Actualización: Fecha de Actualización  
****************************************************************/  
@PERIODO_ID INT,
@EMPRESA_ID UNIQUEIDENTIFIER,
@GERENCIA_ID UNIQUEIDENTIFIER,
@AREA_ID UNIQUEIDENTIFIER,
@COORDINACION_ID UNIQUEIDENTIFIER  
AS  
IF(@GERENCIA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select   
  P.PERSONAL_CODIGO_TRABAJO,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,
  PERSONAL_PUESTO =      
   CASE P.PERSONAL_PUESTO      
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT PU.PUESTO_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.PUESTOS PU WHERE PU.PUESTO_ID = P.PERSONAL_PUESTO)         
   END,
  COMPETENCIA_TRANSVERSAL = 
   CASE ECT.COMPETENCIA_TRANSVERSAL_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_TRANSVERSAL_DESCRIPCION FROM COMPETENCIAS_TRANSVERSALES C WHERE C.COMPETENCIA_TRANSVERSAL_ID = ECT.COMPETENCIA_TRANSVERSAL_ID)         
   END,
  ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE
FROM   
  EVALUACIONES_COMPETENCIAS_TRANSVERSALES ECT INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECT.PERSONAL_ID = P.PERSONAL_ID
WHERE ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
END
ELSE IF (@AREA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select   
  P.PERSONAL_CODIGO_TRABAJO,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,
  PERSONAL_PUESTO =      
   CASE P.PERSONAL_PUESTO      
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT PU.PUESTO_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.PUESTOS PU WHERE PU.PUESTO_ID = P.PERSONAL_PUESTO)         
   END,
  COMPETENCIA_TRANSVERSAL = 
   CASE ECT.COMPETENCIA_TRANSVERSAL_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_TRANSVERSAL_DESCRIPCION FROM COMPETENCIAS_TRANSVERSALES C WHERE C.COMPETENCIA_TRANSVERSAL_ID = ECT.COMPETENCIA_TRANSVERSAL_ID)         
   END,
  ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE
FROM   
  EVALUACIONES_COMPETENCIAS_TRANSVERSALES ECT INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECT.PERSONAL_ID = P.PERSONAL_ID
WHERE ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
END
ELSE IF (@COORDINACION_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select   
  P.PERSONAL_CODIGO_TRABAJO,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,
  PERSONAL_PUESTO =      
   CASE P.PERSONAL_PUESTO      
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT PU.PUESTO_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.PUESTOS PU WHERE PU.PUESTO_ID = P.PERSONAL_PUESTO)         
   END,
  COMPETENCIA_TRANSVERSAL = 
   CASE ECT.COMPETENCIA_TRANSVERSAL_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_TRANSVERSAL_DESCRIPCION FROM COMPETENCIAS_TRANSVERSALES C WHERE C.COMPETENCIA_TRANSVERSAL_ID = ECT.COMPETENCIA_TRANSVERSAL_ID)         
   END,
  ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE
FROM   
  EVALUACIONES_COMPETENCIAS_TRANSVERSALES ECT INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECT.PERSONAL_ID = P.PERSONAL_ID
WHERE ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
AND P.PERSONAL_AREA = @AREA_ID 
END
ELSE 
BEGIN
Select   
  P.PERSONAL_CODIGO_TRABAJO,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,
  PERSONAL_PUESTO =      
   CASE P.PERSONAL_PUESTO      
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT PU.PUESTO_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.PUESTOS PU WHERE PU.PUESTO_ID = P.PERSONAL_PUESTO)         
   END,
  COMPETENCIA_TRANSVERSAL = 
   CASE ECT.COMPETENCIA_TRANSVERSAL_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_TRANSVERSAL_DESCRIPCION FROM COMPETENCIAS_TRANSVERSALES C WHERE C.COMPETENCIA_TRANSVERSAL_ID = ECT.COMPETENCIA_TRANSVERSAL_ID)         
   END,
  ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_PORCENTAJE   
FROM   
  EVALUACIONES_COMPETENCIAS_TRANSVERSALES ECT INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECT.PERSONAL_ID = P.PERSONAL_ID
WHERE ECT.EVALUACION_COMPETENCIA_TRANSVERSAL_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
AND P.PERSONAL_AREA = @AREA_ID  
AND P.PERSONAL_COORDINACION = @COORDINACION_ID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_EVALUACION_COMPETENCIAS_PUESTO]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_EVALUACION_COMPETENCIAS_PUESTO]  
/****************************************************************   
* Nombre SP: USP_RS_EVALUACION_COMPETENCIAS_PUESTO  
* Propósito: devolver los datos de todas coordinaciones por área 
* Input: @PERIODO, @EMPRESA_ID, @GERENCIA_ID, @AREA_ID, @COORDINACION_ID
* Output: Datos de una coordinación  
* Creado por: Silvia Benites  
* Fecha. Creación: 10/04/2016 
* Fecha. Actualización: Fecha de Actualización  
****************************************************************/  
@PERIODO_ID INT,
@EMPRESA_ID UNIQUEIDENTIFIER,
@GERENCIA_ID UNIQUEIDENTIFIER,
@AREA_ID UNIQUEIDENTIFIER,
@COORDINACION_ID UNIQUEIDENTIFIER,
@PUESTO_ID UNIQUEIDENTIFIER  
AS  
IF(@GERENCIA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select 
  PERSONAL_GERENCIA =
  CASE P.PERSONAL_GERENCIA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT G.GERENCIA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.GERENCIAS G WHERE G.GERENCIA_ID = P.PERSONAL_GERENCIA)         
   END,   
  PERSONAL_AREA =
  CASE P.PERSONAL_AREA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT A.AREA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.AREAS A WHERE A.AREA_ID = P.PERSONAL_AREA)         
   END,
  PERSONAL_COORDINACION =
  CASE P.PERSONAL_COORDINACION
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COORDINACION_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.COORDINACIONES C WHERE C.COORDINACION_ID = P.PERSONAL_COORDINACION)         
   END,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,  
  COMPETENCIA = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_DESCRIPCION FROM COMPETENCIAS C WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_TIPO = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT CT.COMPETENCIA_TIPO_DESCRIPCION FROM COMPETENCIAS C INNER JOIN COMPETENCIAS_TIPOS CT  ON C.COMPETENCIA_TIPO_ID = CT.COMPETENCIA_TIPO_ID WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_VALOR_REQUERIDO =
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '0' 
   ELSE (SELECT CP.COMPETENCIA_PUESTO_VALOR_REQUERIDO FROM COMPETENCIAS_PUESTOS CP WHERE CP.COMPETENCIA_ID = ECPP.COMPETENCIA_ID AND CP.PUESTO_ID = @PUESTO_ID)         
   END,
  ECPP.EVALUACION_COMPETENCIA_BRECHA
FROM   
  EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL ECPP INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECPP.PERSONAL_ID = P.PERSONAL_ID
WHERE ECPP.EVALUACION_COMPETENCIA_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_PUESTO = @PUESTO_ID
END
ELSE IF (@AREA_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select 
  PERSONAL_GERENCIA =
  CASE P.PERSONAL_GERENCIA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT G.GERENCIA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.GERENCIAS G WHERE G.GERENCIA_ID = P.PERSONAL_GERENCIA)         
   END,   
  PERSONAL_AREA =
  CASE P.PERSONAL_AREA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT A.AREA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.AREAS A WHERE A.AREA_ID = P.PERSONAL_AREA)         
   END,
  PERSONAL_COORDINACION =
  CASE P.PERSONAL_COORDINACION
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COORDINACION_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.COORDINACIONES C WHERE C.COORDINACION_ID = P.PERSONAL_COORDINACION)         
   END,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,  
  COMPETENCIA = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_DESCRIPCION FROM COMPETENCIAS C WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_TIPO = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT CT.COMPETENCIA_TIPO_DESCRIPCION FROM COMPETENCIAS C INNER JOIN COMPETENCIAS_TIPOS CT  ON C.COMPETENCIA_TIPO_ID = CT.COMPETENCIA_TIPO_ID WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_VALOR_REQUERIDO =
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '0' 
   ELSE (SELECT CP.COMPETENCIA_PUESTO_VALOR_REQUERIDO FROM COMPETENCIAS_PUESTOS CP WHERE CP.COMPETENCIA_ID = ECPP.COMPETENCIA_ID AND CP.PUESTO_ID = @PUESTO_ID)         
   END,
  ECPP.EVALUACION_COMPETENCIA_BRECHA
FROM   
  EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL ECPP INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECPP.PERSONAL_ID = P.PERSONAL_ID
WHERE ECPP.EVALUACION_COMPETENCIA_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
AND P.PERSONAL_PUESTO = @PUESTO_ID
END
ELSE IF (@COORDINACION_ID = '00000000-0000-0000-0000-000000000000') 
BEGIN
Select 
  PERSONAL_GERENCIA =
  CASE P.PERSONAL_GERENCIA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT G.GERENCIA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.GERENCIAS G WHERE G.GERENCIA_ID = P.PERSONAL_GERENCIA)         
   END,   
  PERSONAL_AREA =
  CASE P.PERSONAL_AREA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT A.AREA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.AREAS A WHERE A.AREA_ID = P.PERSONAL_AREA)         
   END,
  PERSONAL_COORDINACION =
  CASE P.PERSONAL_COORDINACION
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COORDINACION_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.COORDINACIONES C WHERE C.COORDINACION_ID = P.PERSONAL_COORDINACION)         
   END,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,  
  COMPETENCIA = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_DESCRIPCION FROM COMPETENCIAS C WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_TIPO = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT CT.COMPETENCIA_TIPO_DESCRIPCION FROM COMPETENCIAS C INNER JOIN COMPETENCIAS_TIPOS CT  ON C.COMPETENCIA_TIPO_ID = CT.COMPETENCIA_TIPO_ID WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_VALOR_REQUERIDO =
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '0' 
   ELSE (SELECT CP.COMPETENCIA_PUESTO_VALOR_REQUERIDO FROM COMPETENCIAS_PUESTOS CP WHERE CP.COMPETENCIA_ID = ECPP.COMPETENCIA_ID AND CP.PUESTO_ID = @PUESTO_ID)         
   END,
  ECPP.EVALUACION_COMPETENCIA_BRECHA
FROM   
  EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL ECPP INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECPP.PERSONAL_ID = P.PERSONAL_ID
WHERE ECPP.EVALUACION_COMPETENCIA_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
AND P.PERSONAL_AREA = @AREA_ID 
AND P.PERSONAL_PUESTO = @PUESTO_ID
END
ELSE 
BEGIN
Select 
  PERSONAL_GERENCIA =
  CASE P.PERSONAL_GERENCIA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT G.GERENCIA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.GERENCIAS G WHERE G.GERENCIA_ID = P.PERSONAL_GERENCIA)         
   END,   
  PERSONAL_AREA =
  CASE P.PERSONAL_AREA
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT A.AREA_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.AREAS A WHERE A.AREA_ID = P.PERSONAL_AREA)         
   END,
  PERSONAL_COORDINACION =
  CASE P.PERSONAL_COORDINACION
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COORDINACION_DESCRIPCION FROM BDREP_ESTRUCTURAS.DBO.COORDINACIONES C WHERE C.COORDINACION_ID = P.PERSONAL_COORDINACION)         
   END,
  P.PERSONAL_NOMBRES + ' ' + P.PERSONAL_APELLIDO_PATERNO + ' ' + P.PERSONAL_APELLIDO_MATERNO  AS PERSONAL_NOMBRES,  
  COMPETENCIA = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT C.COMPETENCIA_DESCRIPCION FROM COMPETENCIAS C WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_TIPO = 
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '_ _'        
   ELSE (SELECT CT.COMPETENCIA_TIPO_DESCRIPCION FROM COMPETENCIAS C INNER JOIN COMPETENCIAS_TIPOS CT  ON C.COMPETENCIA_TIPO_ID = CT.COMPETENCIA_TIPO_ID WHERE C.COMPETENCIA_ID = ECPP.COMPETENCIA_ID)         
   END,
  COMPETENCIA_VALOR_REQUERIDO =
   CASE ECPP.COMPETENCIA_ID
   WHEN '00000000-0000-0000-0000-000000000000' THEN '0' 
   ELSE (SELECT CP.COMPETENCIA_PUESTO_VALOR_REQUERIDO FROM COMPETENCIAS_PUESTOS CP WHERE CP.COMPETENCIA_ID = ECPP.COMPETENCIA_ID AND CP.PUESTO_ID = @PUESTO_ID)         
   END,
  ECPP.EVALUACION_COMPETENCIA_BRECHA
FROM   
  EVALUACIONES_COMPETENCIAS_PUESTOS_PERSONAL ECPP INNER JOIN BDREP_ESTRUCTURAS.dbo.PERSONAL P
  ON ECPP.PERSONAL_ID = P.PERSONAL_ID
WHERE ECPP.EVALUACION_COMPETENCIA_ANIO = @PERIODO_ID 
AND P.PERSONAL_EMPRESA = @EMPRESA_ID
AND P.PERSONAL_GERENCIA = @GERENCIA_ID
AND P.PERSONAL_AREA = @AREA_ID  
AND P.PERSONAL_COORDINACION = @COORDINACION_ID
AND P.PERSONAL_PUESTO = @PUESTO_ID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_RS_COORDINACION_SELECCIONAR_POR_AREA]    Script Date: 06/09/2016 13:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USP_RS_COORDINACION_SELECCIONAR_POR_AREA]  
/****************************************************************   
* Nombre SP: USP_RS_COORDINACION_SELECCIONAR_POR_AREA  
* Propósito: devolver los datos de todas coordinaciones por área 
* Input: @AREA_ID  
* Output: Datos de una coordinación  
* Creado por: Silvia Benites  
* Fecha. Creación: 10/04/2016 
* Fecha. Actualización: Fecha de Actualización  
****************************************************************/  
@AREA_ID UNIQUEIDENTIFIER  
AS  
SELECT '00000000-0000-0000-0000-000000000000' AS COORDINACION_ID,
		'' AS COORDINACION_CODIGO,
		'TODAS' AS COORDINACION_DESCRIPCION
UNION
Select   
  COORDINACION_ID,    
  COORDINACION_CODIGO,  
  COORDINACION_DESCRIPCION    
from   
  BDREP_ESTRUCTURAS.DBO.COORDINACIONES  
WHERE AREA_ID=@AREA_ID  
AND COORDINACION_ESTADO = 1
GO
