.RadPivotGrid th, .RadPivotGrid td, .RadPivotGrid .rpgOuterTableWrapper td {
    padding: 3px 8px 3px 7px;
    text-align: left;
    vertical-align: top;
    border-style: solid;
    border-width: 0 0 1px 1px;
    width: 100%;
}



.RadPivotGrid_Default .rpgFilterZone, .RadPivotGrid_Default .rpgRowsZone, .RadPivotGrid_Default .rpgColumnsZone, .RadPivotGrid_Default .rpgDataZone, .RadPivotGrid_Default .rpgColumnHeader, .RadPivotGrid_Default .rpgColumnHeaderTotal, .RadPivotGrid_Default .rpgColumnHeaderGrandTotal, .RadPivotGrid_Default .rpgContentZoneDiv th
{
    background-color:#eaeaea;
    background-position:0 -2000px;
    background-repeat:repeat-x;
    width:100px;
    
}

.rpgRowHeaderField.rpgRowHeader
{
    width:180px!important;
    height:20px!important;
    
    
    }